# KST_utils, relation, set_operations requirements (latest versions as of 2024-10-02)
numpy==1.25.2 # required by torch 2.1.1+cu118
tqdm==4.66.5
matplotlib==3.9.2

# DKST_utils requirements (latest versions as of 2024-10-02)
# Note: Install the appropriate version of PyTorch separately based on your system's capabilities, see README.

# ipykernel for Jupyter notebooks in the examples folder...

sphinx
sphinx-rtd-theme